<html allowtransparency="true">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>客服专区</title>
<link rel="stylesheet" type="text/css" href="kefu.css">
</head>

<body oncontextmenu="return false" onselectstart="return false">
<div id="main">
  <div class="account"> 
	<div class="ac_head">
    	<div class="head_meun back">
          <a href="index.html" target="_self">客服大厅</a>
        </div>
        <div class="head_meun  head_on">
          <a href="accout.html" target="_self">账号安全</a>
        </div>
         <div class="head_meun">
          <a href="jianyi.html" target="_self">建议反馈</a>
        </div>
         <div class="head_meun">
          <a href="bug.html" target="_self">BUG反馈</a>
        </div>
         <div class="head_meun ">
          <a href="wenti.html" target="_self">问题专区</a>
        </div>
         <div class="head_meun">
             <div class="head_meunb ">
              <a href="" target="_self">举报信息</a>
               <div class="head_li">
                <div class="btn_jb"><a href="jbxx.html" target="_self">举报不良信息</a></div>
                <div class="btn_wg"><a href="jbwg.html" target="_self">举报外挂</a></div>
              </div>
            </div>
        </div>
         <div class="head_meun">
          <a href="kefu.html" target="_self">在线客服</a>
        </div>
         <div class="head_right">
        </div>
    </div>
    <div class="act_cont">
      <div class="cont_txt">
      	<span>实名认证</span>
      	<p>根据国家有关规定，您在进入游戏时需要进行实名以及防沉迷验证。</p>
      	<a href="http://acc.iwanws.com/index.php/User/logout/" target="_blank">点击设置</a>
      	<sub>(注：每人只能设置一次)</sub>
      </div>
      <div class="cont_txt">
      	<span>安全邮箱</span>
      	<p>可用于密码找回，或接受各类补办，资料查询信息</p>
      	<a href="http://acc.iwanws.com/index.php/User/logout/" target="_blank">点击设置</a>
      </div>
      <div class="cont_txt">
      	<span>绑定手机</span>
      	<p>可用于密码找回，接收重要信息</p>
      	<a href="http://acc.iwanws.com/index.php/User/logout/" target="_blank">点击设置</a>
      </div>
      <div class="cont_tx">
        <span>安全提示：</span>
        <p>切勿将身份证号码以及安全邮箱告诉他人，若泄露对您的账号造成不利影响，本游戏概不负责。</p>
      </div>
    </div>
  </div>  
<div class="footer">
 <div class="left_foot">
     <img src="image/bangzhu.png" />
     <a href="" target="_blank">武圣帮助</a>
    </div>
    <div class="num">
      <p>若遇到紧急问题，请拨打客服电话：0755-26652163</p>
    </div>
</div>
</div>
</body>
</html>
