{T "content","gwhead",TPLID}
<script type="text/javascript">
    function check(form) {

        if(form.biaoti.value=='') {
            alert("请输入标题!");
            form.biaoti.focus();
            return false;
        }
        if(form.yijian.value==''){
            alert("请输入意见!");
            form.yijian.focus();
            return false;
        }
        if(form.yi_sc.value==''){
            alert("请上传文件!");
            form.yi_sc.focus();
            return false;
        }
        return true;
    }
</script>

  <div class="jb_area"> 
	<div class="ac_head">
    	<div class="head_meun back">
          <a href="index.html" target="_self">客服大厅</a>
        </div>
        <div class="head_meun ">
          <a href="accout.html" target="_self">账号安全</a>
        </div>
         <div class="head_meun">
          <a href="jianyi.html" target="_self">建议反馈</a>
        </div>
         <div class="head_meun  ">
          <a href="bug.html" target="_self">BUG反馈</a>
        </div>
         <div class="head_meun ">
          <a href="wenti.html" target="_self">问题专区</a>
        </div>
         <div class="head_meun head_on">
             <div class="head_meunb ">
              <a href="" target="_self">举报信息</a>
               <div class="head_li">
                <div class="btn_jb"><a href="jbxx.html" target="_self">举报不良信息</a></div>
                <div class="btn_wg"><a href="jbwg.html" target="_self">举报外挂</a></div>
              </div>
            </div>
        </div>
         <div class="head_meun">
          <a href="kefu.html" target="_self">在线客服</a>
        </div>
         <div class="head_right">
        </div>
    </div>
    <div class="jb_mid">
        <div class="more_cont">
            <div class="act_head">
            <img src="image/jubao.png" width="72" title="举报信息"/>
            <span>举报信息</span>
            <a href="index.html">返回首页</a>
            <p>在游戏中发现不良信息或者使用外挂的，可在此举报。</p>
          </div>
          <div class="tishi">
          <div class="tishi_cont">
              <div class="deng">
              <img src="image/deng.jpg"/>
              </div>
              <div class="more_tx">
               <span>重要说明：</span><a>此通道仅提供举报服务，其他问题请您选择正确的提交入口，请详细描述您要举报的内容。</a>
              </div>
          </div>
          </div>
              
            <div class="cont_jbxx">
              <div class="jbxx_head">
                <a href="jbxx.html" class="jbhead_on" style="margin-left:60px;">举报不良信息</a>
                <a href="jbwg.html">举报外挂</a>
              </div>
                <form class="form-horizontal"  name="myform" action="?m=guestbook&f=myissue&v=jbxx" method="post" enctype="multipart/form-data">
              <div class="form_li">
                  <div class="formli_left1">
                     <span>我要举报：</span>
                  </div>
                  <div class="form_input">
                    <input type="text" placeholder="被举报的玩家名" class="wjm" name="wjm" maxlength="15"/>
                  </div>      
               </div>    
               <div class="form_li youxiqufu">
                  <div class="formli_left1">
                   <span>游戏区服：</span>
                  </div>
                  <div class="form_input">
                  <select id="qufu" name="qufu" class="select_qf">
                                   <option selected="selected">请选择区服</option>
                                      <option selected="selected">请选择区服</option>
                                      <option value="开天辟地">开天辟地</option>
                                      <option value="纵横天下">纵横天下</option>
                                      <option value="热血沙场">热血沙场</option>
                                      <option value="剑荡八荒">剑荡八荒</option>
                                      <option value="五福临门">五福临门</option>
                                      <option value="金玉满堂">金玉满堂</option>
                                      <option value="春暖花开">春暖花开</option>
                                      <option value="风花雪月">风花雪月</option>
                                      <option value="春光灿烂">春光灿烂</option>
                                      <option value="清风明月">清风明月</option>
                                      <option value="义薄云天">义薄云天</option>
                                      <option value="问鼎江湖">问鼎江湖</option>
                                      <option value="傲气凌云">傲气凌云</option>
                                      <option value="龙战于野">龙战于野</option>
                                      <option value="侠骨柔情">侠骨柔情</option>
                                 </select>
                  </div>      
                 </div>     
                 <div class="form_li">
                  <div class="formli_left1">
                     <span>举报内容：</span>
                  </div>
                  <div class="form_input">
                    <textarea name="jbtxt" class="jb_box" maxlength="250" minlength="5" ></textarea>
                  </div>      
               </div>   
               <div class="form_li">
                  <div class="formli_left1">
                     <span>举报分类：</span>
                  </div>
                  <div class="form_input1">
                   <p style="color:#F00; font-weight:bold; margin:0;">（请选择举报信息的类别）</p>
                  </div>      
               </div> 
               <div class="radio_1">
                     <table cellpadding="0" cellspacing="0">
                       <tr align="left" height="40">
                        <td width="120" align="left"><input type="radio" name="jubaofl" id="dailian" value="dailian"  class="radio_btn" /><p>代练广告</p></td> 
                        <td width="160" align="left"><input type="radio" name="jubaofl" id="daida" value="daida" class="radio_btn" /><p>代打广告</p></td>
                        <td width="250" align="left"><input type="radio" name="jubaofl" id="shuap" value="shuap" class="radio_btn" /><p>大量无意义表情符号或字符刷屏</p></td>                  
                       </tr>
                        <tr align="left" height="40">
                        <td width="120" align="left"><input type="radio" name="jubaofl" id="feifa" value="feifa" class="radio_btn" /><p>卖非法宏广告</p></td> 
                        <td width="160" align="left"><input type="radio" name="jubaofl" id="manma" value="manma" class="radio_btn" /><p>谩骂、人身攻击信息</p></td>
                        <td width="250" align="left"><input type="radio" name="jubaofl" id="xujia" value="xujia" class="radio_btn"/><p>虚假中奖，抽奖，欺骗，钓鱼信息</p></td>                  
                       </tr>
                       <tr align="left" height="40">
                        <td width="280" align="left" colspan="2"><input type="radio" name="jubaofl" id="maimai" value="maimai" class="radio_btn" /><p>通过游戏外渠道卖元宝，卖材料等广告</p></td> 
                        <td width="250" align="left"><input type="radio" name="jubaofl" id="else" value="else" class="radio_btn" /><p>其他信息</p></td>                  
                       </tr>
                      </table>
                     </div>
                     <input type="submit" value="提交" class="small_btn"/>
           </form>     

              </div>
        
            </div>
    </div>
</div>
<div class="footer">

    <div class="num">
      <p>若遇到紧急问题，请拨打客服电话：0755-26652163</p>
    </div>
</div>
<div id="foot">
  <div class="foot_cont">
    <div class="fcont_top">
     <img src="image/flogo.png"/>
     <a href="" target="_blank"><img src="image/www.png"/></a>
     <div class="top_top">
         <a href="" target="_blank">用户协议</a>
         <span>|</span>
          <a href="" target="_blank">关于北极光</a>
         <span>|</span>
          <a href="" target="_blank">联系我们</a>
         <span>|</span>
          <a href="" target="_blank">商务合作</a>
         <span>|</span>
          <a href="" target="_blank">法律声明</a>
      </div>
      <div class="top_top">
          <span>网络文化经营许可证号：粤网文〔2015〕2246-495号</span>
         <span>|</span>
          <a href="" target="_blank"> 粤ICP备15071838号-2</a>
        
      </div>
    </div>
    <div class="fcont_mid">
         <span>健康游戏忠告：抵制不良游戏  </span>
         <span>拒绝盗版游戏</span>
         <span>注意自我保护</span>
         <span>谨防受骗上当</span>
         <span>适度游戏益脑</span>
         <span>沉迷游戏伤身 </span>
         <span>合理安排时间 </span>
         <span>享受健康生活</span>
    </div>
    <div class="fcont_fot">
       <p>Copyright © 2010-2016 iwanws. All rights reserved.深圳北极光网络科技有限公司</p>
       <span>本公司旗下所运营游戏均适合18周岁以上人群。</span>
    </div>
  </div>
</div>
</body>
</html>
