<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>《武圣》官方网站--激情自由PK！红名爆装备！-2015火爆新游</title>
<link type="text/css" href="{R}t2/css/kaifu.css" rel="stylesheet" />
<script src="{R}t2/js/jquery.js" type="text/javascript"></script>


</head>

<body>
<div id="main_kf">
  <div class="main_cent">
	<div class="main_top">
     <a href="{WEBURL}index.php" target="_blank">进入官网</a>
     <a href="/Html/download.html" target="_blank" >下载游戏</a>
    </div>
    <div class="main_meun">
    <div id="item" class="meun_top">
         <a title="仙侣奇缘" class="meun_1 hover"></a>
         <a title="全新主城" class="meun_2"></a>
         <a title="新服排行榜" class="meun_3"></a>
         <a title="公平集市" class="meun_4"></a>
         <a title="提前预创建" class="meun_5"></a>
		 
         <a title="升级送绑元" class="meun_6"></a>
         <a title="首充礼包" class="meun_7"></a>
         <a title="成长基金" class="meun_8"></a>
         <a title="签到领奖" class="meun_9"></a>
         <a title="超值回馈" class="meun_10"></a>
     </div>
    </div>
    
 
  </div>
  <div class="main_txt" id="layoutt">
      <div id="info1" class="cell main_content1" style="display: block;">
        <div class="content_txt">
          <div class="cont_head">
             <div class="head_left">
               <b>01</b>
             </div>
             <div class="head_right">
              <b class="event">EVENT1</b>
              <b class="txt">仙侣奇缘</b>
             </div>
             
          </div>
          <div class="cont_txt">
           <span>活动背景：</span>
           <p>江湖恩怨，痴男怨女。一代代恩怨情仇构成了有情有义无可奈何的江湖。若能化解了恩怨，将获得大量奖励。</p>
           <span>活动时间：</span>
           <p>周六、日11：30至12：30、19：00至19：30</p>
           <span>参与条件：</span>
           <p>40级以上，至少3人组队，1次/天</p>
           <span>活动规则：</span>
           <p>1、活动开始后，前往主城NPC“公孙绿萼”[51，44]处组队进入副本。</p>
           <p>2、根据活动NPC提示幻化成神仙眷侣的变身，对姻缘镜造成伤害。</p>
           <p>3、队伍人数越多回合数就越多，可获得的经验就越高。</p>
           <p>4、限制回合内击败姻缘镜，即可胜利获得“仙侣宝箱”</p>
           <img src="image/xlqy.jpg" title="仙侣奇缘" />
          </div>
        </div>
          <div id="page">
            <div class="page_2">
             <a class="nex1">&nbsp;</a>
             <a class="top">&nbsp;</a>
            </div>
          </div>

       </div>
       
	   <div id="info2" class="cell main_content1" style="display: none;">
        <div class="content_txt">
          <div class="cont_head">
             <div class="head_left1">
               <b>02</b>
             </div>
             <div class="head_right">
              <b class="event">EVENT2</b>
              <b class="txt">全新主城</b>
             </div>
             
          </div>
          <div class="cont_txt">
           <span>敬请期待!</span>
           
          
          </div>
        </div>
          <div id="page">
            <div class="page_2">
             <a class="last1">&nbsp;</a>
             <a class="nex1">&nbsp;</a>
             <a class="top">&nbsp;</a>
            </div>
          </div>
       </div>
		
	   <div id="info3" class="cell main_content1" style="display: none;">
        <div class="content_txt">
          <div class="cont_head">
             <div class="head_left1">
               <b>03</b>
             </div>
             <div class="head_right">
              <b class="event">EVENT3</b>
              <b class="txt">新服排行榜</b>
             </div>
             
          </div>
          <div class="cont_txt">
           <span>活动区服：</span>
           <p>此次新开服务器</p>
           <span>参与方式：</span>
           <p>点击游戏主界面左上方的“新服榜”图标进行参与。</p>
           <img src="image/xf1.png" title="新服排行榜" width="356"/>
           </br>
           <span>活动说明：</span>
           <p>1、在活动时间内，达到指定条件即可领取丰厚奖励。</p>
           <p>2、新服榜活动最多持续20天，请及时领取奖励。</p>
           <p>3、新服榜的名次都以各榜结束时排行榜的名次为准。</p>
           <p>4、排行榜名次每10分钟刷新一次。</p>
           <p>5、只有处于召唤和合体状态的仙兽战力才会刷新进仙兽榜。</p>
           <p>6、功勋排行榜是计算官职晋升累积消耗的功勋和现有功勋的合计。</p>
           <span>活动内容：</span>
           <p>（以下游戏截图为测试截图，实际活动时间以游戏内为准。）</p>
           <img src="image/xf2.png" title="新服排行榜" />
           <img src="image/xf3.png" title="新服排行榜" />
           <img src="image/xf4.png" title="新服排行榜" />
           <img src="image/xf5.png" title="新服排行榜" />
           <img src="image/xf6.png" title="新服排行榜" />
           <img src="image/xf7.png" title="新服排行榜" />
           <img src="image/xf8.png" title="新服排行榜" />
          </div>
        </div>
          <div id="page">
            <div class="page_2">
             <a class="last1">&nbsp;</a>
             <a class="nex1">&nbsp;</a>
             <a class="top">&nbsp;</a>
            </div>
          </div>
       </div>
	   <div id="info4" class="cell main_content1" style="display: none;">
       	 <div class="content_txt">
          <div class="cont_head">
             <div class="head_left">
               <b>04</b>
             </div>
             <div class="head_right">
              <b class="event">EVENT4</b>
              <b class="txt">公平集市</b>
             </div>
             
          </div>
          <div class="cont_txt">
           <span>公平集市位置：</span>
           <p>玩家可以在主城NPC赵敏[48，58]处打开公平集市。</p>
           <span>公平集市简介：</span>
           <p>将在游戏中获得标有“可在公平集市交易”的道具就能向公平集市出售，赚取一定的绑元。
                玩家也能从公平集市购买一些自己所需的道具。
            </p>
           <img src="image/gpjs.png" title="公平集市" />
           <p class="ts">温馨提示：从公平集市购买的道具不能再次卖入公平集市。</b>
          </div>
        </div>
          <div id="page">
            <div class="page_2">
             <a class="last1">&nbsp;</a>
             <a class="nex1">&nbsp;</a>
             <a class="top">&nbsp;</a>
            </div>
          </div>
       </div>
	   <div id="info5" class="cell main_content1" style="display: none;">
       <div class="content_txt">
          <div class="cont_head">
             <div class="head_left1">
               <b>05</b>
             </div>
             <div class="head_right">
              <b class="event">EVENT5</b>
              <b class="txt">提前预创建</b>
             </div>
             
          </div>
          <div class="cont_txt">
           <span>活动时间：</span>
           <p>6月17日12：00——6月25日15：00</p>
           <span>活动服务器名：</span>
           <p>侠骨柔情（双线）</p>
           <span>活动内容：</span>
           <p>提前预创建角色，抢注拉风角色名，选择自己喜欢的职业。</p>
           <span>活动规则：</span>
           <p>在官网下载安装好游戏后，使用注册好的账号登录游戏，进入角色选择界面，选择自己喜欢的职业，输入拉风的角色名称。完成后，只需等待开服进入游戏体验。</p>
           <span>活动奖励：</span>
           <p>预创建的角色，在新服开放后，将会获得预创建礼包一个，礼包将会自动发放到角色背包中。
玩家打开背包使用礼包即可获得奖励。礼包内含稀有坐骑“飞天蝙蝠”*1。
</p>

           <img src="image/ycj.png" title="提前预创建" />
          </div>
        </div>
          <div id="page">
            <div class="page_2">
             <a class="last1">&nbsp;</a>
             <a class="nex1">&nbsp;</a>
             <a class="top">&nbsp;</a>
            </div>
          </div>
       </div>
	   <div id="info6" class="cell main_content1" style="display: none;">
       <div class="content_txt">
          <div class="cont_head">
             <div class="head_left1">
               <b>06</b>
             </div>
             <div class="head_right">
              <b class="event">EVENT6</b>
              <b class="txt">升级送绑元</b>
             </div>
             
          </div>
          <div class="cont_txt">
           <span>活动范围：</span>
           <p>全区全服</p>
           <span>活动内容：</span>
           <p>所有登录游戏并成功达到40级以上的玩家，每升5级，就能领取大量的绑元奖励，级别越高奖励越多，总共能获得价值800元的绑元奖励！（绑元可在商城购买珍稀道具）</p>
           <span>活动规则：</span>
           <p>40级以上的玩家，可以通过游戏界面右上方的“福利”图标点击“送绑元”查看并领取奖励。</p>
           <span>活动奖励：</span>
           <br />
           <img src="image/sjsby.png" title="升级送绑元" />
          </div>
        </div>
          <div id="page">
            <div class="page_2">
             <a class="last1">&nbsp;</a>
             <a class="nex1">&nbsp;</a>
             <a class="top">&nbsp;</a>
            </div>
          </div>
       </div>
	   <div id="info7" class="cell main_content1" style="display: none;">
       	 <div class="content_txt">
          <div class="cont_head">
             <div class="head_left">
               <b>07</b>
             </div>
             <div class="head_right">
              <b class="event">EVENT7</b>
              <b class="txt">首充礼包</b>
             </div>
             
          </div>
          <div class="cont_txt">
           <span>参与方式：</span>
           <p>玩家可以点击游戏界面右上方的“充值活动”图标，选择首充礼包。
进行充值提取元宝，提取300元宝即可领取价值888元大礼包！
</p>
           <span>活动奖励：</span>
           <p>内涵酷炫翅膀、紫色武器、多种稀有道具。</p>
           <img src="image/sclb.png" title="首充礼包" />
          </div>
        </div>
          <div id="page">
            <div class="page_2">
             <a class="last1">&nbsp;</a>
             <a class="nex1">&nbsp;</a>
             <a class="top">&nbsp;</a>
            </div>
          </div>
       </div>
	   <div id="info8" class="cell main_content1" style="display: none;">
       <div class="content_txt">
          <div class="cont_head">
             <div class="head_left">
               <b>08</b>
             </div>
             <div class="head_right">
              <b class="event">EVENT8</b>
              <b class="txt">成长基金</b>
             </div>
             
          </div>
          <div class="cont_txt">
           <span>参与方式：</span>
           <p>玩家可以点击游戏界面右上方的“充值活动”图标，选择成长基金。
使用元宝购买基金，玩家达到角色等级条件后，将可以领到投资元宝额度的5倍绑元奖励。
</p>
           <span>活动说明：</span>
           <p>1、在活动期间可购买基金，活动结束后不可再购买，奖励领取没有时间限制。</p>
           <p>2、活动期间可多次追加购买，但是总额不能超过1万元宝。</p>
           <p>3、人物达到要求等级时可领取对应绑元奖励</p>
           <p class="ts">以投资1000元宝为例，收益如下：（实际收益根据投资元宝为准）</p>
           <img src="image/czjj.png" title="成长基金" />
          </div>
        </div>
          <div id="page">
            <div class="page_2">
             <a class="last1">&nbsp;</a>
             <a class="nex1">&nbsp;</a>
             <a class="top">&nbsp;</a>
            </div>
          </div>
       </div>
	   <div id="info9" class="cell main_content1" style="display: none;">
      	<div class="content_txt">
          <div class="cont_head">
             <div class="head_left">
               <b>09</b>
             </div>
             <div class="head_right">
              <b class="event">EVENT9</b>
              <b class="txt">签到领奖</b>
             </div>
             
          </div>
          <div class="cont_txt">
           <span>参与方式：</span>
           <p>点击游戏界面右上方的“每日”活动中的“签到”图标进行参与。</p>
            <img src="image/qd1.jpg" title="签到领奖" />
             <br />
           <span>活动规则：</span>
           <p>每签到一天即可领取一次奖励。</p>
           <span>活动奖励：</span>
           <p>银两、双倍经验丹、强化石、卜卦签、换车令、绑元等尽在其中。</p>
           <img src="image/qd2.jpg" title="签到领奖" />
          </div>
        </div>
          <div id="page">
            <div class="page_2">
             <a class="last1">&nbsp;</a>
             <a class="nex1">&nbsp;</a>
             <a class="top">&nbsp;</a>
            </div>
          </div>
       </div>
	   <div id="info10" class="cell main_content1" style="display: none;">
       	 <div class="content_txt">
          <div class="cont_head">
             <div class="head_left1">
               <b>10</b>
             </div>
             <div class="head_right">
              <b class="event">EVENT10</b>
              <b class="txt">超值回馈奖</b>
             </div>
             
          </div>
          <div class="cont_txt">
           <span>参与方式：</span>
           <p>点击游戏界面右上方的超值回馈活动图标进行参与。</p>
            <img src="image/huik1.jpg" title="超值回馈奖" />
             <br />
           <span>活动规则：</span>
           <p>累积提取100元宝、300元宝、800元宝等，每达到一个等级条件都能领取一个丰厚奖励。
消费回馈：在天工坊和商城消耗绑元与元宝才会进行累计。如累积消耗60绑元、300绑元、1000绑元等，每达到一个等级条件都能领取一个丰厚奖励。
</p>
        
           <p class="ts">温馨提示:活动每日凌晨重置，请及时领取达到条件的奖励。（游戏截图为测试截图，实际内容以游戏内为准）</p>
           <img src="image/huik2.jpg" title="签到领奖" />
          </div>
        </div>
          <div id="page">
            <div class="page_2">
             <a class="last1">&nbsp;</a>
			 <a class="nex1">&nbsp;</a>
             <a class="top">&nbsp;</a>
            </div>
          </div>
       </div>
  </div>
</div>

<div class="footer_kf">
 <div class="info">
   <a href="http://sq.ccm.gov.cn:80/ccnt/sczr/service/business/emark/toDetail/6e1ffc0f34db4d6796798e4e6217587c" target="_blank" title="网络经营单位" class="www">&nbsp;</a>
   <p>
    <span><a href="http://acc.iwanws.com/Html/protocol.html" target="_blank">用户协议</a></span>
    <span>|</span>
    <span><a href="/profile#item1" target="_blank">关于北极光</a></span>
    <span>|</span>
    <span><a href="/profile#item4" target="_blank">联系我们</a></span>
    <span>|</span>
    <span><a href="/profile#item2" target="_blank">商务合作</a></span>
    <span>|</span>
    <span><a href="/profile#item3" target="_blank">法律声明</a></span>
   </p> 
   <p>
    <span>网络文化经营许可证号：粤网文〔2015〕2246-495号</span>
    <span>|</span>
    <span><a href="http://www.miibeian.gov.cn" target="_blank">粤ICP备15071838号-2</a></span>
   </p>
 </div>
 <p class="blue">
  <span>健康游戏忠告：抵制不良游戏</span>
  <span>拒绝盗版游戏</span>
  <span>注意自我保护</span>
  <span>谨防受骗上当</span>
  <span>适度游戏益脑</span>
  <span>沉迷游戏伤身</span>
  <span>合理安排时间</span>
  <span>享受健康生活</span>
 </p>
  <p class="blue">
  Copyright © 2010-2016 iwanws. All rights reserved.深圳北极光网络科技有限公司<span style="margin-left:10px;">本公司旗下所运营游戏均适合18周岁以上人群。</span>
  </p>
</div>
<script type="text/javascript">
$(document).ready(function(e){
	var pages =10;
	var page = 1;
	$("#page .last1").click(function () {
		page -= 1;
		if(page == 0){
			page = 10;
		}
		showBar(page);				   				   

	});
	$("#page .nex1").click(function () {
		page += 1;
		if(page == 10){
			page = 1;
		}
		showBar(page);
		$("#item a[class*='hover']").removeClass("hover");
		$("#item a:eq("+(page-1)+")").addClass("hover");
		
	});
	
	$("#item a").live("click",function(){
		var id =$("#item a").index(this);
		$("#item a[class*='hover']").removeClass("hover");
		$(this).addClass("hover");
		id = id +1;
		page = id;
		/*showDv(id);*/
		showBar(id);
	});

	 //关闭
	$("#layoutt .close").live("click",function(){
		$.unblockUI();
	});

});
function showBar(id)
{
	id ="#info"+id;
	$(id).css("display","block");
	$(".cell").not(id).css("display","none");
}


</script>

<script>
    function getTop(){
        var top = $(document).scrollTop();
        if($(document).scrollTop()>700){
            $(".page_2,").css({
                'display':'block',
            });
        } else {
            $(".page_2").css('display','none');
        }
        setTimeout(getTop);
    }
     
    getTop();
</script>
<script type="text/javascript">
function docheck()
{
       alert("请敬请期待!");
	   return;
}
</script>
<script type="text/javascript">

$(function(){
  $(".top").click(function() {
      $("html,body").animate({scrollTop:0}, 500);
  }); 
 })

</script>
</body>

</html>
